.project-details-content-wrap {
  padding-top: 76px;
  padding-bottom: 82px;
  @media (max-width: 1023px) {
    padding-top: 30px;
  }

  .inner-wrap {
    .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      margin-bottom: 27px;

      h1 {
        font-family: "Gotham-Bold", serif;
        font-size: 40px;
        line-height: 50px;
        color: #00ae9e;
        max-width: 500px;
        border-bottom: none;
        margin-top: 0;
        margin-bottom: .5rem;
        padding-bottom: 0;
        @media (max-width: 1023px) {
          font-size: 25px;
          line-height: 1.3;
        }
      }
    }

    .description {
      font-family: "HelveticaNeue", serif;
      font-size: 15px;
      line-height: 22px;
      color: #909090;
    }

    .attributes {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: flex-start;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      margin-bottom: 45px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      .attribute-item {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 40px;
        font-family: "HelveticaNeue-Medium", serif;
        font-size: 18px;
        line-height: 30px;
        color: #474747;

        img {
          margin-right: 14px;
          height: 20px;
        }
      }
    }

    .btn-container {
      padding-bottom: 45px;
      border-bottom: 1px solid #00ae9e;
      width: 100%;
      margin-bottom: 75px;

      .ant-badge > span {
        font-family: "HelveticaNeue-Medium", serif;
        font-size: 18px;
        line-height: 30px;
        color: #474747;
      }

      .contact-agent-btn {
        width: 200px;
        margin-left: 0;
        opacity: 1;
        font-family: "HelveticaNeueLTStd-Bd", serif;
        cursor: pointer;
        border: 1px solid #00ae9e;
        top: 0;

        &:hover {
          color: #00ae9e;
          background: #fff;
          border: 1px solid #00ae9e;
          &:after {
            background: #00ae9e url('../../../../assets/icons/arrow-right-white.svg') no-repeat center center;
          }
        }
      }
    }

    .left-info, .right-info, .map-wrap {
      h3 {
        font-family: "Gotham-Bold", sans-serif;
        font-size: 25px;
        line-height: 30px;
        color: #00ae9e;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;
        @media (max-width: 1023px) {
          font-size: 20px;
          line-height: 1.3;
          margin-bottom: 10px;
        }
      }
    }

    .left-info {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
      flex: 0 0 57%;
      @media (max-width: 1023px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin-bottom: 30px;
      }

      > div {
        margin-bottom: 40px;
        @media (max-width: 1023px) {
          li {
            font-size: 15px;
            line-height: 22px;
          }
        }
      }

      .type > div {
        font-family: "HelveticaNeue", serif;
        font-size: 16px;
        line-height: 1.3;
        color: #909090;
        font-weight: 600;
        margin-bottom: 15px;

        img {
          display: none;
        }
      }

      .price {
        font-family: "HelveticaNeue-Medium", serif;
        font-size: 16px;
        line-height: 1;
        color: #727272;
      }

      .download {

        ul {
          margin-bottom: 0;
          list-style: none;
          padding-left: 25px;

          li {
            margin-bottom: 24px;

            a {
              font-family: "HelveticaNeueLTStd-Bd", serif;
              font-size: 16px;
              line-height: 26px;
              color: #909090;
              position: relative;
              transition: All 0.2s ease-in-out;

              &:hover {
                opacity: .7;
              }

              &:before {
                content: '';
                width: 14px;
                height: 18.5px;
                display: inline-block;
                background: url('../../../../assets/icons/file.png') center no-repeat;
                background-size: contain;
                position: absolute;
                left: -25px;
                top: 0;
              }
            }
          }
        }
      }
    }

    .right-info {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 31.6%;
      flex: 0 0 31.6%;
      @media (max-width: 1023px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin-bottom: 30px;
      }

      .property-info {
        background: #f6f6f6;

        .location {
          padding: 53px 20px 53px 76px;
          border-bottom: 1px solid #e3e3e3;
          font-family: "HelveticaNeue", serif;
          font-size: 15px;
          line-height: 22px;
          color: #909090;
          @media (max-width: 1023px) {
            padding: 30px 20px 30px 66px;
          }

          .address {
            position: relative;
            margin-bottom: 10px;

            &::before {
              content: '';
              position: absolute;
              left: -35px;
              top: 2px;
              width: 20px;
              height: 20px;
              background: url('../../../../assets/icons/location.png') no-repeat;
            }
          }
        }

        .property-details {
          padding: 30px 20px 23px 66px;

          > div {
            margin-bottom: 20px;
          }

          p {
            margin-bottom: 5px;
            color: #909090;
            font-size: 15px;
            line-height: 22px;
            font-weight: 600;
          }

          strong {
            font-family: "HelveticaNeueLTStd-Bd", serif;
            font-size: 16px;
            line-height: 26px;
            color: #474747;
          }
        }
      }
    }

    .map-wrap {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;

      .map-container {
        height: 464px;
        width: 100%;
      }
    }
  }
}
