.project-details-slider-wrap {
  width: 1000px;
  margin: 55px auto 0;
  @media (max-width: 1023px) {
    width: 100vw;
    margin-top: 0;
  }

  .slick-list {
    overflow: initial;
  }

  .slick-arrow {
    &.slick-prev {
      position: absolute;
      left: -28px;
      top: 45%;
      z-index: 9;
      background-position-x: 0;
      background-position-y: 0;
      background: #00ae9e url('../../../../assets/icons/slider-arrow-left.svg') no-repeat center;
      @media (max-width: 1023px) {
        left: 10px;
        width: 35px;
        height: 35px;
        top: 43% !important;
      }
    }

    &.slick-next {
      position: absolute;
      right: -28px;
      top: 45%;
      z-index: 9;
      background-position-x: 0;
      background-position-y: 0;
      background: #00ae9e url('../../../../assets/icons/slider-arrow-right.svg') no-repeat center;
      @media (max-width: 1023px) {
        right: 10px;
        width: 35px;
        height: 35px;
        top: 43% !important;
      }
    }
  }

  .slick-slide {
    padding: 0 12.5px;
    opacity: 0.4;
    -webkit-transition: All 0.2s ease-in-out;
    -o-transition: All 0.2s ease-in-out;
    transition: All 0.2s ease-in-out;
    -webkit-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
    width: 100%;
    @media (max-width: 1023px) {
      padding: 0;
      width: 100%;
    }

    &.slick-active {
      opacity: 1;
    }

    .ant-image {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      //width: 100vw;
    }

    img {
      width: 100%;
      max-width: 100%;
      height: 730px;
      object-fit: cover;
      object-position: center;
      @media (max-width: 1023px) {
        height: 265px;
        width: 100vw;
      }
    }
  }
}
