.projects-toolbar {
  position: relative;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto -55px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1;

  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 30px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    @media (max-width: 1023px) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
    }

    .left {
      h1 {
        font-family: "Gotham-Bold", sans-serif;
        font-size: 40px;
        line-height: 50px;
        color: #00ae9e;
        max-width: 500px;
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0.5rem;
        @media (max-width: 1023px) {
          font-size: 25px;
          line-height: 1.3;
        }
      }
    }
    .right {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-family: "HelveticaNeue", serif;
      font-size: 20px;
      line-height: 50px;
      color: #00ae9e;

      .search {
        position: relative;

        .ant-row {
          margin-bottom: 0;
        }

        input[type=text] {
          background: #FFFFFF;
          border: 1px solid #CFCFCF;
          border-radius: 5px;
          outline: none;
          width: 370px;
          height: 58px;
          line-height: 45px;
          padding: 0 15px;
          font-family: "HelveticaNeue-Light", serif;
          font-size: 14px;
          color: #000;
        }

        button {
          position: absolute;
          right: 15px;
          top: 0;
          background: none;
          padding: 0;
          border: none;
          outline: none;
          cursor: pointer;
          -webkit-transition: All 0.2s ease-in-out;
          -o-transition: All 0.2s ease-in-out;
          transition: All 0.2s ease-in-out;
        }
      }

      .switch {
        margin-right: 100px;

        ul {
          padding-left: 0;
          margin-bottom: 0;
          list-style: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          height: 100%;

          li {
            &:not(:last-child) {
              padding-right: 35px;
              border-right: 1px solid #00ae9e;
            }

            &:last-child {
              margin-left: 32px;
            }

            span {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              height: 100%;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              cursor: pointer;
              color: #909090;

              .st0 {
                fill: none;
                stroke: #000000;
                stroke-miterlimit: 10;
                -webkit-transition: All 0.2s ease-in-out;
                -o-transition: All 0.2s ease-in-out;
                transition: All 0.2s ease-in-out;
              }

              .st2 {
                fill: #000000;
                -webkit-transition: All 0.2s ease-in-out;
                -o-transition: All 0.2s ease-in-out;
                transition: All 0.2s ease-in-out;
              }
            }

            &.active, &:hover {
              .st0 {
                stroke: #10bea4;
              }

              .st2 {
                fill: #10bea4;
              }

              span {
                color: #10bea4;
              }
            }
          }
        }
      }
    }
  }

  .filters {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    border: 1px solid #E2E2E2;
    -webkit-box-shadow: 0 10px 30px 10px rgba(214, 214, 214, 0.5);
    box-shadow: 0 10px 30px 10px rgba(214, 214, 214, 0.5);
    padding: 40px 50px 18px;
    background: white;
    @media (max-width: 1023px) {
      padding: 40px 25px 18px;
    }

    .wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      .filter-form {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;

        .items {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          position: relative;

          .selectors {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 47.8%;
            flex: 0 0 47.8%;
            @media (max-width: 1023px) {
              -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
              flex: 0 0 100%;
              margin-bottom: 20px;
            }

            h4 {
              font-family: "HelveticaNeue-Medium", serif;
              font-size: 15px;
              line-height: 30px;
              color: #00ae9e;
              margin-bottom: 26px;
              @media (max-width: 1023px) {
                margin-bottom: 15px;
              }
            }

            > div {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              -webkit-box-pack: justify;
              -ms-flex-pack: justify;
              justify-content: space-between;

              label {
                flex: 0 0 25%;
                margin-bottom: 0;
                @media (max-width: 1023px) {
                  flex: 0 0 45%;
                }

                p {
                  display: block;
                  margin-bottom: .5rem;
                }

                select {
                  display: block;
                  -webkit-box-flex: 0;
                  -ms-flex: 0 0 31.4%;
                  flex: 0 0 31.4%;
                  border: 1px solid #CFCFCF;
                  border-radius: 5px;
                  height: 45px;
                  font-family: "HelveticaNeue-Light", serif;
                  font-size: 14px;
                  line-height: 30px;
                  color: #909090;
                  padding-left: 16px;
                  outline: none;
                  min-width: 0;
                  width: 100%;
                }
              }

              .price-range {
                position: relative;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 40%;
                flex: 0 0 40%;
                max-width: 500px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                @media (max-width: 1023px) {
                  -webkit-box-flex: 0;
                  flex: 0 0 100%;
                }

                label {
                  flex: 0 0 45%;

                  select {
                    font-size: 12px;
                    line-height: 45px;
                  }
                }
              }
            }
          }

          .more-btn {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            margin-top: 20px;

            .ant-collapse-header {
              height: 30px;

              .btn {
                right: 0;
                top: 0;
                font-family: "HelveticaNeue-Medium", serif;
                font-size: 15px;
                line-height: 30px;
                color: #00ae9e;

                &:after {
                  content: '';
                  width: 12px;
                  height: 7px;
                  margin-left: 7px;
                  display: inline-block;
                  background-position-x: 0;
                  background-position-y: 0;
                  background: url('../../../../assets/icons/arrow-down.svg') no-repeat center;
                  background-size: cover;
                }
              }
            }

            .ant-collapse-content .container {
              padding-top: 30px;

              h4 {
                font-family: "HelveticaNeue-Medium", serif;
                font-size: 15px;
                line-height: 30px;
                color: #00ae9e;
                margin-bottom: 26px;
                @media (max-width: 1023px) {
                  margin-bottom: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}
