.projects-list-wrap {
  background: rgba(232, 232, 232, 0.4);
  padding-top: 140px;
  position: relative;

  .grid {
    .item {
      margin-bottom: 57px;
      flex: 0 0 48.8%;
      @media (max-width: 1023px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 700px;
        margin: 0 auto 30px;
      }

      .ant-card-body {
        .image {
          width: 100%;
          position: relative;

          img {
            width: 100%;
            height: 380px;
            object-fit: cover;
            object-position: center;
            @media (max-width: 1023px) {
              height: 250px;
            }
          }

          .hover {
          }
        }


        .content-area {
          .general {
            border-bottom: 1px solid #ededed;
            padding: 35px 40px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            @media (max-width: 1023px) {
              padding: 20px;
            }

            .title {
              -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
              flex: 0 0 100%;
              margin-bottom: 20px;

              h2 {
                font-family: "Gotham-Bold", sans-serif;
                font-size: 16px;
                line-height: 30px;
                color: #00ae9e;
              }
            }

            .info {
              -webkit-box-flex: 0;
              -ms-flex: 0 0 55%;
              flex: 0 0 55%;
              padding-left: 36px;
              @media (max-width: 1023px) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                margin-bottom: 30px;
              }

              > div {
                position: relative;

                &::before {
                  content: '';
                  position: absolute;
                  left: -31px;
                  top: 0;
                  width: 20px;
                  height: 20px;
                  background: url('../../../../assets/icons/location.png') no-repeat;
                }

                span {
                  display: block;
                  margin-bottom: 10px;
                  font-family: "HelveticaNeue", serif;
                  font-size: 15px;
                  line-height: 22px;
                  color: #909090;
                  font-weight: 600;
                  @media (max-width: 1023px) {
                    font-size: 14px;
                    line-height: 23px;
                    font-weight: normal;
                  }
                }
              }
            }

            .bullet-points {
              -webkit-box-flex: 0;
              -ms-flex: 0 0 40%;
              flex: 0 0 40%;
              @media (max-width: 1023px) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
              }

              ul {
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;

                li {
                  font-family: "HelveticaNeue-Light", serif;
                  font-size: 14px;
                  line-height: 1.3;
                  color: #909090;
                  margin-bottom: 10px;

                  &::before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    background: #00ae9e;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 10px;
                  }
                }
              }
            }
          }

          .suites-info {
            padding: 35px 40px 64px 40px;
            @media (max-width: 1023px) {
              padding: 20px 20px 20px;
            }

            .update {
              position: absolute;
              bottom: 30px;
              font-family: "HelveticaNeue", serif;
              font-size: 15px;
              line-height: 22px;
              color: #909090;
              font-weight: 600;
              @media (max-width: 1023px) {
                position: static;
                margin-top: 0;
                margin-bottom: 15px;
              }

              b {
                font-family: "HelveticaNeueLTStd-Bd", serif;
                font-size: 16px;
                line-height: 26px;
                color: #707070;
              }
            }
          }
        }

        &:hover {
          .hover {
            span {
              top: 0;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
