.projects-map-wrap {
  background: rgba(232, 232, 232, 0.4);
  position: relative;
  display: flex;

  .map-project-list-wrap {
    flex: 0 0 20%;
    height: calc(100vh - 134px);
    overflow-y: scroll;
    background-color: #ffffff;
    padding-left: 20px;

    //h2 {
    //  margin-top: 55px;
    //}

    li {
      background-color: #ffffff;

      > .list-item {
        cursor: pointer;
      }

      .ant-list-item-meta-avatar {
        width: 30%;

        img {
          width: 100%;
        }
      }
    }
  }

  #map-wrap {
    flex: 0 0 80%;
    height: calc(100vh - 134px);
    position: relative;

    #shape {
      width: 25px;
      height: 35px;
    }

    .single-marker {
      height: 35px;
      width: 25px;
      transition: all 0.3s ease;
      
      #marker-2 {
        transition: all 0.3s ease;
      }

      &.disabled {
        #marker-2 {
          fill: #5E5D5D;
        }
      }

      &:not(.disabled):hover, &.selected {
        transform: scale(1.2);
        transform-origin: bottom;

        #marker-2 {
          fill: #025AAE;
        }
      }
    }
  }

  .project-detail-wrap {
    width: 100%;
    cursor: pointer;

    .image {
      width: 100%;
      position: relative;

      img {
        width: 100%;
        height: auto;
      }

      .hover {
      }
    }

    &:hover {
      .hover {
        span {
          top: 0;
          opacity: 1;
        }
      }
    }

    .content-wrap {
      padding: 40px;
    }

    .ant-col:nth-child(3) {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
    }

    .title {
      margin-bottom: 20px;
    }

    .address {
      margin-bottom: 40px;

      p {
        margin-bottom: 0;
        font-family: "HelveticaNeue", serif;
        font-size: 16px;
        line-height: 1.3;
        color: #909090;
      }
    }

    .suites-list {
      margin-top: 30px;
    }

    .listing {
      div {
        width: 60px;
      }
    }
  }
}
