.contact-us-wrap.fixed-width-container {
  padding: 0 0 102px;

  .title {
    margin-bottom: 70px;
    padding-bottom: 20px;
    @media (max-width: 1023px) {
      margin-bottom: 20px;
      padding-bottom: 0;
    }
  }

  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .left {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
      flex: 0 0 47%;
      @media (max-width: 1023px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
      }

      .text-block {
        margin-bottom: 70px;
        @media (max-width: 1023px) {
          margin-bottom: 30px;
        }

        h2 {
          margin-bottom: 32px;
          @media (max-width: 1023px) {
            font-size: 20px;
            line-height: 1.3;
            margin-bottom: 16px;
          }
        }

        p {
          margin-bottom: 0;
          font-family: "HelveticaNeue", serif;
          font-size: 15px;
          line-height: 22px;
          color: #909090;
          @media (max-width: 1023px) {
            margin-bottom: 10px;
          }

          strong {
            min-width: 70px;
            display: inline-block;
            font-family: "HelveticaNeueLTStd-Bd", serif;
            font-size: 15px;
            line-height: 22px;
            color: #909090;
            @media (max-width: 1023px) {
              display: block;
              margin-bottom: 5px;
            }
          }

          a {
            font-family: "HelveticaNeue", serif;
            font-size: 15px;
            line-height: 22px;
            color: #909090;
          }
        }

        &.hours strong {
          min-width: 165px;
          display: inline-block;
          @media (max-width: 1023px) {
            display: block;
            margin-bottom: 5px;
          }
        }
      }
    }

    .right {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
      flex: 0 0 47%;
      @media (max-width: 1023px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
      }

      h2 {
        margin-bottom: 32px;
        @media (max-width: 1023px) {
          font-size: 20px;
          line-height: 1.3;
          margin-bottom: 16px;
        }
      }

      #contact-form {
        margin: 0;
        padding: 0;

        .line {
          //margin-bottom: 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;

          .ant-row {
            position: relative;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 48.4%;
            flex: 0 0 48.4%;
            @media (max-width: 1023px) {
              -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
              flex: 0 0 100%;
            }
          }

          .ant-form-item {
            margin-bottom: 20px;
          }

          input {
            border: 1px solid #CFCFCF;
            border-radius: 5px;
            width: 100%;
            height: 43px;
            padding: 0 16px;
            outline: none;
            min-width: 0;
          }
        }

        .submit-line {
          margin-top: 28px;

          .ant-form-item {
            margin-bottom: 0;
          }

          input {
            width: 174px;
            height: 40px;
            font-family: "HelveticaNeueLTStd-Bd", serif;
            font-size: 15px;
            color: white;
            line-height: 35px;
            background: #00AE9E;
            border-radius: 3px;
            outline: none;
            border: 1px solid transparent;
            cursor: pointer;
            -webkit-transition: All 0.2s ease-in-out;
            -o-transition: All 0.2s ease-in-out;
            transition: All 0.2s ease-in-out;

            &:hover {
              background: white;
              color: #00ae9e;
              border: 1px solid #00ae9e;
            }
          }

        }

        .message-line {
          .ant-row {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            margin-bottom: 0;
          }

          textarea {
            width: 100%;
            height: 143px;
            padding: 10px 16px;
            outline: none;
            background: #FFFFFF;
            border: 1px solid #CFCFCF;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

.map-wrap {
  width: 100%;
  height: 464px;
  position: relative;
  overflow: hidden;
}
