.account-center-container {
  > .wrap {
    > .title {
      display: flex;
      justify-content: space-between;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      margin-bottom: 70px;
      padding-bottom: 20px;
      border-bottom: 1px solid #00ae9a;
      flex-wrap: wrap;

      .left {
        margin-bottom: 0;

        h1 {
          font-family: "Gotham-Bold", sans-serif;
          font-size: 40px;
          line-height: 50px;
          color: #00ae9e;
          max-width: 500px;
          border: none;
          padding-bottom: 0;
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        span {
          font-family: "HelveticaNeue", sans-serif;
          font-size: 20px;
          line-height: 50px;
          color: #00ae9e;
        }
      }
    }

    .content-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      .left-section {
        @media (max-width: 1023px) {
          flex: 0 0 100%;
          margin-bottom: 30px;
        }

        h3 {
          font-family: "Gotham-Bold", sans-serif;
          font-size: 25px;
          line-height: 30px;
          color: #00ae9e;
          margin-bottom: 30px;
        }

        .ant-table, .ant-table-container {
          @media (max-width: 1023px) {
            width: 100%;
          }
        }
      }

      .right-section {
        flex: 0 0 31.5%;
        @media (max-width: 1023px) {
          flex: 0 0 100%;
        }

        h3 {
          font-family: "Gotham-Bold", sans-serif;
          font-size: 25px;
          line-height: 30px;
          color: #00ae9e;
          margin-bottom: 30px;
        }

        input {
          border: 1px solid #CFCFCF;
          border-radius: 5px;
          width: 100%;
          height: 43px;
          padding: 0 16px;
          outline: none;
          margin-bottom: 25px;

          &[disabled] {
            background: #CFCFCF;
            color: rgba(0, 0, 0, 0.5);
          }
        }

        .invite-container {
          background: #F6F6F6;
          padding: 42px;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;

          a {
            background: #00ae9e;
            border: 1px solid #CFCFCF;
            border-radius: 5px;
            width: 100%;
            height: 43px;
            padding: 0 16px;
            line-height: 43px;
            outline: none;
            color: white;
            cursor: pointer;
            -webkit-transition: All 0.2s ease-in-out;
            -o-transition: All 0.2s ease-in-out;
            transition: All 0.2s ease-in-out;
            text-align: center;
          }
        }

        .info {
          .form-label {
            font-size: 14px;
            line-height: 17px;
            color: #585858;
            font-family: "HelveticaNeue-Medium", sans-serif;
          }

          .ant-collapse-header, .ant-collapse-content-box {
            padding-left: 0;
            padding-right: 0;
          }

          .collapse-icon {
            color: rgb(0, 174, 158);
            font-size: 25px;
            cursor: pointer;
            transform: rotate(180deg);
            transition: all 0.3s ease;

            &.is-active {
              transform: rotate(0deg);
            }
          }

          select {
            border: 1px solid #CFCFCF;
            border-radius: 5px;
            width: 100%;
            height: 43px;
            padding: 0 16px;
            outline: none;
            margin-bottom: 25px;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
              border: 1px solid #00ae9e;
            }
          }

          .ant-form-item {
            margin-bottom: 0;
          }

          .submit {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
