.page-not-found-container {
    .text-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 44px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
