.service-page-container {
  .service-list-section {
    position: relative;
    padding: 0 0 102px;
    margin: 0 auto;
    @media (max-width: 1023px) {
      padding-bottom: 0;
    }

    .service-block {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-bottom: 52px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      .left-section {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 525px;
        flex: 0 0 525px;
        @media (max-width: 1023px) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
        }

        .grid {
          padding: 70px 60px 30px;
          background: #00ae9e;
          counter-reset: section;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          position: relative;
          z-index: 1;
          @media (max-width: 1023px) {
            padding: 30px 40px 0;
          }

          .item {
            font-family: "HelveticaNeue", serif;
            font-size: 16px;
            line-height: 22px;
            color: white;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            margin-bottom: 46px;
            @media (max-width: 1023px) {
              -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
              flex: 0 0 100%;
              margin-bottom: 20px;
            }

            &::before {
              content: "0"counter(section) ".";
              counter-increment: section;
              font-family: "Gotham-Bold", sans-serif;
              font-size: 24px;
              line-height: 29px;
              color: white;
              display: block;
            }
          }
        }
      }

      .right-section {
        position: absolute;
        right: 0;
        bottom: 0;
        @media (max-width: 1023px) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          position: static;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .info-section-top {
    background: rgba(232, 232, 232, 0.4);
    padding-top: 70px;
    @media (max-width: 1023px) {
      padding-top: 40px;
    }

    .fixed-width-container {
      padding: 0 0 75px;
      @media (max-width: 1023px) {
        padding-bottom: 40px;
      }

      #lease-management {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;

        h3 {
          font-family: "Gotham-Bold", sans-serif;
          font-size: 25px;
          line-height: 32px;
          color: #00ae9e;
          margin-bottom: 20px;
        }

        p {
          font-family: "HelveticaNeue", serif;
          font-size: 15px;
          line-height: 22px;
          color: #909090;
          max-width: 670px;
        }
      }

      .icon-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 30px;

        .item {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 30%;
          flex: 0 0 30%;
          @media (max-width: 1023px) {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            margin-bottom: 20px;
          }

          h4 {
            font-family: "HelveticaNeueLTStd-Bd", serif;
            font-size: 15px;
            line-height: 22px;
            color: #474747;
            margin-bottom: 30px;
            display: flex;
            align-items: flex-end;

            img {
              margin-right: 16px;
            }
          }

          p {
            font-family: "HelveticaNeue", serif;
            font-size: 15px;
            line-height: 22px;
            color: #909090;
          }

          ul {
            padding-left: 40px;
            margin-bottom: 0;
            list-style: none;

            li {
              position: relative;
              font-family: "HelveticaNeue", serif;
              font-size: 15px;
              line-height: 22px;
              color: #909090;

              &:before {
                content: '';
                width: 8px;
                height: 8px;
                display: block;
                background: #00ae9e;
                border-radius: 50%;
                position: absolute;
                left: -17px;
                top: 5px;
              }
            }
          }
        }
      }

      #real-estate-advisory {
        h3 {
          font-family: "Gotham-Bold", sans-serif;
          font-size: 25px;
          line-height: 32px;
          color: #00ae9e;
          margin-bottom: 20px;
        }

        #project-marketing {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          counter-reset: section;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;

          .item {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 30%;
            flex: 0 0 30%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            @media (max-width: 1023px) {
              -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
              flex: 0 0 100%;
              margin-bottom: 20px;
            }

            .left{
              @media (max-width: 1023px) {
                width: 46px;
                margin-right: 15px;
              }
              &::before {
                content: "0" counter(section) ".";
                counter-increment: section;
                font-family: "Gotham-Bold", sans-serif;
                font-size: 45px;
                line-height: 1;
                margin-right: 5px;
                color: #00ae9e;
                @media (max-width: 1023px) {
                  font-size: 25px;
                }
              }
            }

            .right {
              font-family: "HelveticaNeue", serif;
              font-size: 15px;
              line-height: 22px;
              color: #909090;
              max-width: 233px;
            }
          }
        }
      }
    }
  }

  .info-section-bottom {
    padding-top: 95px;
    @media (max-width: 1023px) {
      padding-top: 40px;
      padding-bottom: 0;
    }

    .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 88px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      @media (max-width: 1023px) {
        margin-bottom: 20px;
      }

      .text {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        flex-direction: column;
        @media (max-width: 1023px) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
        }

        h3 {
          font-family: "Gotham-Bold", sans-serif;
          font-size: 25px;
          line-height: 32px;
          color: #00ae9e;
          padding-bottom: 23px;
          border-bottom: 1px solid;
          margin-bottom: 30px;
          display: block;
          width: 100%;
        }
      }

      .image {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 65.5%;
        flex: 0 0 65.5%;
        @media (max-width: 1023px) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      &:nth-child(2n) {
        .image {
          -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
          order: 0;
          @media (max-width: 1023px) {
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
          }
        }

        .text {
          -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
          order: 1;
        }
      }
    }
  }
}
