.media-list-page {
  .media-wrap {
    .feature {
      min-height: 420px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      position: relative;
      @media (max-width: 1023px) {
        min-height: 210px;
      }

      .cover {
        z-index: 0;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;

        img {
          width: 100%;
          height: 375px;
          object-fit: cover;
          @media (max-width: 1023px) {
            height: auto;
          }
        }
      }

      .left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 57.2%;
        flex: 0 0 57.2%;
        padding-bottom: 42px;
        @media (max-width: 1023px) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
        }

        h2 {
          font-family: "Gotham-Bold", sans-serif;
          font-size: 120px;
          line-height: 1;
          color: #fff;
          position: absolute;
          bottom: 0;
          left: -4px;
          margin-bottom: 0;

          &.top {
            z-index: 1;
            @media (max-width: 1023px) {
              text-shadow: -5px 5px 0px #00ae9e;
              font-size: 50px;
              bottom: unset;
              top: 10px;
              left: 20px;
              z-index: 1;
            }
          }

          &.bottom {
            z-index: -1;
            text-shadow: -10px 10px 0px #00ae9e;
            @media (max-width: 1023px) {
              display: none;
              font-size: 50px;
            }
          }
        }
      }

      .right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 38.3%;
        flex: 0 0 38.3%;
        position: relative;
        //display: flex;
        align-items: center;
        justify-content: flex-end;
        display: none;

        .text-block {
          padding-right: 20px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          h3 {
            font-family: "Gotham-Bold", sans-serif;
            font-size: 30px;
            line-height: 40px;
            color: #ffffff;
            max-width: 286px;
            margin-bottom: 15px;
          }

          .clear-right {
            opacity: 1;
            cursor: pointer;
            border: 1px solid #ffffff;
            background: #ffffff;
            color: #00ae9a;
            top: 0;

            &:hover {
              background: #00ae9a;
              border-color: #00ae9a;
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  .media-list {
    background: rgba(232, 232, 232, 0.4);
    padding-top: 80px;

    .list-wrap {
      .title {
        margin-bottom: 70px;
        padding-bottom: 20px;
        border-bottom: 1px solid #00ae9a;
      }

      .list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100% ;
        //min-height: 600px;

        .item {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 24.5%;
          flex: 0 0 24.5%;
          margin-bottom: 52px;
          @media (max-width: 1023px) {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            margin-bottom: 30px;
          }

          .image {
            width: 100%;

            img {
              width: 100% ;
              height: 150px;
              object-fit: cover;
            }

            .hover {
              position: absolute;
              width: 96%;
              height: 93%;
              border: 1px solid white;
              left: 2%;
              top: 4%;
            }
          }

          .title {
            background: white;
            padding: 17px 20px 17px 32px;
            border-bottom: none;
            margin-bottom: 0;

            a {
              font-family: "Gotham-Bold", sans-serif;
              color: #00ae9e;
              font-size: 16px;
              line-height: 22px;
              margin-bottom: 0;
            }
          }

          &:hover {

            a {
              text-decoration: underline;
            }

            .hover {
              border-color: #00ae9e;

              .clear-right {
                top: 0;
                opacity: 1;
              }
            }
          }
        }
      }

      .pager {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;

        ul {
          list-style: none;
          margin-bottom: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          padding: 0 0 0 26px;

          li {
            border-radius: 50%;
            background: none;
            -webkit-transition: All 0.2s ease-in-out;
            -o-transition: All 0.2s ease-in-out;
            transition: All 0.2s ease-in-out;
            text-align: center;

            &:not(:last-child) {
              margin-right: 10px;
            }

            span {
              width: 50px;
              height: 50px;
              font-size: 15px;
              line-height: 50px;
              font-family: "HelveticaNeue", serif;
              color: #18212b;
              display: block;
              -webkit-transition: All 0.2s ease-in-out;
              -o-transition: All 0.2s ease-in-out;
              transition: All 0.2s ease-in-out;
              text-decoration: none;
              cursor: pointer;
              font-weight: 600;
            }

            &.active, &:hover {
              background: #00ae9e;

              span {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
