.article-detail-page-container {
  .inner-wrap {
    position: relative;
    padding: 0 0 102px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    @media (max-width: 1023px) {
      padding-bottom: 30px;
    }

    .title {
      margin-bottom: 70px;
      padding-bottom: 20px;
      border-bottom: 1px solid #00ae9a;
      flex: 0 0 100%;
      @media (max-width: 1023px) {
        margin-bottom: 20px;
      }

      .left {
        h1 {
          font-family: "Gotham-Bold", sans-serif;
          font-size: 40px;
          line-height: 50px;
          color: #00ae9e;
          max-width: 500px;
          border-bottom: none;
          @media (max-width: 1023px) {
            font-size: 25px;
            line-height: 1.3;
            padding-bottom: 0;
          }
        }
      }
    }

    .left-section {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 57.2%;
      flex: 0 0 57.2%;
      @media (max-width: 1023px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin-bottom: 40px;
      }

      > div {
        width: 100%;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      .cover-img {
        margin-bottom: 46px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .right-section {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 31.5%;
      flex: 0 0 31.5%;
      min-width: 0;
      @media (max-width: 1023px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
      }

      h3 {
        font-family: "HelveticaNeue-Medium", serif;
        font-size: 20px;
        line-height: 30px;
        color: #00ae9e;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid;
      }

      .list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        border-bottom: 1px solid #00ae9e;

        .item {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          margin-bottom: 30px;

          .image {
            width: 100%;
            position: relative;

            img {
              width: 100%;
              height: auto;
            }

            .hover {
              position: absolute;
              width: 96%;
              height: 93%;
              border: 1px solid white;
              left: 2%;
              top: 4%;

              span {
                display: block;
                width: 168px;
                height: 48px;
                line-height: 48px;
              }
            }
          }

          .title-section {
            background: #f6f6f6;
            padding: 21px 28px;

            a {
              font-family: "Gotham-Bold", sans-serif;
              color: #00ae9e;
              font-size: 16px;
            }
          }

          &:hover {

            .hover {
              border-color: #00ae9a;
              span {
                top: 0;
                opacity: 1;
              }
            }

            .title-section {
              a {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .buttons {
        margin-top: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        > * {
          top: 0;
          opacity: 1;
          text-align: left;
          cursor: pointer;
          flex: 0 0 49%;
          border: 1px solid transparent;
          @media (max-width: 1023px) {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 500px;
            display: block;
            margin: 0 auto 20px;
          }

          &:hover {
            border: 1px solid #00ae9e;
            color: #00ae9e;
            background: #fff;
          }
        }
      }
    }
  }
}
