.inner-wrap {
  position: relative;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.summary {
  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      margin-bottom: 10px;
      font-family: "HelveticaNeue", serif;
      font-size: 16px;
      line-height: 1.3;
      color: #909090;
      font-weight: 400;

      &::before {
        content: '';
        width: 10px;
        height: 10px;
        background: #00ae9e;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}
