.project-list {
  .ant-tabs-nav {
    display: none;
  }

  .type {
    margin-bottom: 14px;
    font-family: "HelveticaNeue", serif;
    font-size: 16px;
    line-height: 1.3;
    color: #909090;
    font-weight: 600;

    img {
      display: none;
    }
  }

  .notification-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 15vh;
    width: 100%;
    padding: 20px 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #FFFFFF;
    z-index: 99;
    box-shadow: 0 10px 30px 10px rgba(214, 214, 214, 0.5);
    transform: translateY(100%);
    transition: all 0.3s ease;
    @media (max-width: 1023px) {
      height: 20vh;
      padding: 0 5%;
    }

    h2 {
      @media (max-width: 1023px) {
        font-size: 18px;
        line-height: 20px;
      }
    }


    &.visible {
      transform: translateY(0);
    }

    > div {
      width: auto;
      display: flex;
      @media (max-width: 1023px) {
        width: 100%;
        justify-content: center;
        align-items: center;
      }

      .login, .close-btn {
        width: 144px;
        height: 30px;
        background: #00ae9e;
        line-height: 30px;
        color: #fff;
        text-align: center;
        font-family: "HelveticaNeueLTStd-Bd", serif;
        font-size: 14px;
        margin-right: 5%;
        cursor: pointer;
      }

      .close-btn {
        background: #5E5D5D;
      }
    }
  }
}
