.suites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin-bottom: 10px;

  .entry {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    @media (max-width: 1023px) {
      margin-bottom: 28px;
    }

    .listing {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 5px;

      div {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 78px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 16px;
        color: #727272;
        font-weight: 400;
        font-family: "HelveticaNeue", serif;
        line-height: 1;

        img {
          margin-right: 6px;
          font-size: 16px;
          font-family: "HelveticaNeue", serif;
          line-height: 22px;
          color: #909090;
        }
      }
    }

    .price {
      font-family: "HelveticaNeue-Light", serif;
      font-size: 16px;
      line-height: 1;
      color: #707070;
    }
  }
}

.contact-agent-btn {
  color: #00ae9e;

  &:hover {
    color: #00ae9a;
    text-decoration: underline;
  }
}
