section.projects {
  position: relative;
  padding: 100px 0 67px;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  @media (max-width: 1023px) {
    padding: 80px 0 30px;
  }

  .projects-count {
    position: absolute;
    right: 0;
    top: -123px;
    width: 242px;
    height: 156px;
    background: #00ae9e;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    @media (max-width: 1023px) {
      width: 180px;
      top: -100px;
    }

    &:hover {
      .projects-count-wrap-center p {
        text-decoration: underline;
      }
    }

    &:before {
      content: '';
      width: 10px;
      height: 1px;
      position: absolute;
      bottom: 33px;
      left: 0;
      background: white;
      @media (max-width: 1023px) {
        bottom: 56px;
      }
    }

    &:after {
      content: '';
      width: 10px;
      height: 1px;
      position: absolute;
      bottom: 33px;
      right: 0;
      background: white;
      @media (max-width: 1023px) {
        bottom: 56px;
      }
    }

    .projects-count-wrap {
      border: 1px solid white;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      .count {
        font-family: "HelveticaNeueLTStd-Bd", serif;
        font-size: 48px;
        line-height: 58px;
        color: white;
        @media (max-width: 1023px) {
          font-size: 35px;
          line-height: 1.3;
        }
      }

      p {
        font-family: "HelveticaNeue", serif;
        font-size: 22px;
        line-height: 27px;
        color: white;
        margin-bottom: 5px;
        @media (max-width: 1023px) {
          font-size: 16px;
          line-height: 1.3;
        }
      }
    }
  }

  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 23px;

    .left {
      h2 {
        font-family: "Gotham-Bold", sans-serif;
        font-size: 25px;
        line-height: 1;
        color: #00ae9e;
        @media (max-width: 1023px) {
          font-size: 20px;
          line-height: 1.3;
        }
      }
    }

    .right {
      position: relative;
      top: 17px;

      a {
        span {
          width: 23px;
          height: 23px;
          line-height: 23px;
          text-align: center;
          display: inline-block;
          margin-left: 10px;
          border-radius: 50%;
          background: #00ae9e url('../../../assets/icons/arrow-right-white.svg') no-repeat center center;
        }
      }
    }
  }

  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 31.7%;
      flex: 0 0 31.7%;
      @media (max-width: 1023px) {
        flex: 0 0 100%;
        margin-bottom: 20px;
      }

      .image {
        width: 100%;
        position: relative;

        img {
          width: 100%;
          height: 240px;
          object-fit: cover;
          object-position: center;
        }
      }

      .contents {
        background: #f6f6f6;
        padding: 21px 28px;

        .title {
          display: block;
        }

        a {
          font-family: "Gotham-Bold", sans-serif;
          color: #00ae9e;
          font-size: 16px;
        }
      }

      &:hover {
        a {
          text-decoration: underline;
        }
      }

      &:hover {

        .hover {
          border-color: #00ae9e;

          .clear-right {
            top: 0;
            opacity: 1;
          }
        }
      }
    }
  }
}
