.home {
  section {
    > .title {
      .left h2 {
        font-family: "Gotham-Bold", sans-serif;
        font-size: 25px;
        line-height: 1;
        color: #00ae9e;

        @media (max-width: 1023px) {
          font-size: 20px;
          line-height: 1.3;
        }
      }
    }

    > .title-bar .arrow-right {
      width: 23px;
      height: 23px;
      line-height: 23px;
      text-align: center;
      display: inline-block;
      margin-left: 10px;
      border-radius: 50%;
      background: #00ae9e url('../../../assets/icons/arrow-right-white.svg') no-repeat center center;
    }
  }

  .title-bar .right a {
    font-family: "HelveticaNeue", serif;
    font-size: 14px;
    line-height: 1;
    color: #585858;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &:not(:last-child) {
      margin-right: 27px;
    }

    &:hover {
      color: #00ae9e;
    }
  }

  .item {

    .image {
      width: 100%;
      position: relative;

      img {
        width: 100%;
        display: block;
      }

      .hover {
        position: absolute;
        width: 96%;
        height: 93%;
        border: 1px solid white;
        left: 2%;
        top: 4%;
      }
    }

    .title a {
      font-family: "Gotham-Bold", serif;
      color: #00ae9e;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 0;
    }



    &:hover {
      a {
        text-decoration: underline;
      }
    }

    &:hover {

      .hover {
        border-color: #00ae9e;

        .clear-right {
          top: 0;
          opacity: 1;
        }
      }
    }
  }

  .slick-initialized {
    //height: 587px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-transition: All 1.2s ease-in-out;
    -o-transition: All 1.2s ease-in-out;
    transition: All 1.2s ease-in-out;

    &:before {
      content: '';
      display: block;
      height: 9px;
      background: #00ae9e;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      border-bottom: 1px solid white;
      z-index: 1;
    }

    &:after {
      content: '';
      display: block;
      height: 10px;
      background: #00ae9e;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -10px;
    }
  }

  .slick-arrow {
    &:hover {
      opacity: .7;
    }
    @media (max-width: 1023px) {
      display: none!important;
    }

    &.slick-prev {
      position: absolute;
      left: 100px;
      top: 45%;
      z-index: 9;
      background: #00ae9e url('../../../assets/icons/slider-arrow-left.svg') no-repeat center;
    }

    &.slick-next {
      position: absolute;
      right: 100px;
      top: 45%;
      z-index: 9;
      background: #00ae9e url('../../../assets/icons/slider-arrow-right.svg') no-repeat center;

    }
  }

  .slide-page {
    height: 587px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    width: 100%;
    display: inline-block;
    position: relative;
    @media (max-width: 1023px) {
      height: 487px;
    }

    video {
      height: 200vh;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      left: 0;
      width: 100vw;
      @media (max-width: 1023px) {
        display: none;
      }
    }

    .hover {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 346px;
      background: #e8e8e8;
      z-index: -1;
    }

    .text-block {
      width: 90%;
      max-width: 1170px;
      margin: 0 auto;
      padding-top: 90px;
      @media (max-width: 1023px) {
        padding-top: 30px;
      }

      h1 {
        margin-bottom: 100px;
        font-family: "Gotham-Bold", sans-serif;
        font-size: 40px;
        color: #00ae9e;
        line-height: 50px;
        max-width: 800px;
        @media (max-width: 1023px) {
          font-size: 25px;
          line-height: 1.3;
          margin-bottom: 50px;
        }
      }

      .text-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        @media (max-width: 1023px) {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
        }

        p {
          font-family: "HelveticaNeue", serif;
          font-size: 16px;
          line-height: 22px;
          color: #00ae9e;
          max-width: 312px;
          margin-bottom: 0;
          @media (max-width: 1023px) {
            max-width: none;
            margin-bottom: 20px;
          }
        }

        a {
          width: 200px;
          height: 48px;
          background: #00ae9e;
          line-height: 48px;
          color: #fff;
          font-family: "HelveticaNeueLTStd-Bd", serif;
          font-size: 16px;
          display: block;
          -webkit-transition: All 0.2s ease-in-out;
          -o-transition: All 0.2s ease-in-out;
          transition: All 0.2s ease-in-out;
          padding: 0 20px;
          position: relative;
          margin-left: 60px;
          border: 1px solid transparent;

          &:hover {
            border: 1px solid #00ae9e;
            color: #00ae9e;
            background: #fff;
          }

          @media (max-width: 1023px) {
            margin-left: 0;
          }
        }
      }
    }
  }
}
