section.news {
  background: rgba(232, 232, 232, 0.4);
  padding-top: 80px;
  @media (max-width: 1023px) {
    padding-top: 40px;
  }

  .market-insights {
    position: relative;
    padding: 0 0 80px;
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    @media (max-width: 1023px) {
      padding-bottom: 0;
    }

    .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 25px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      .left {
        h2 {
          font-family: "Gotham-Bold", sans-serif;
          font-size: 25px;
          line-height: 1;
          color: #00ae9e;
          @media (max-width: 1023px) {
            font-size: 20px;
            line-height: 1.3;
          }
        }
      }

      .right {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        top: 5px;
      }
    }

    .grid {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      .item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        @media (max-width: 1023px) {
          flex: 0 0 100%;
          margin-bottom: 30px;
        }

        .image {
          img {
            height: 260px;
            object-fit: cover;
          }
        }

        .contents {
          background: white;
          padding: 31px 32px;

          .title a {
            font-family: "Gotham-Bold", sans-serif;
            color: #00ae9e;
            font-size: 16px;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .media {
    @media (max-width: 1023px) {
      padding-bottom: 0;
    }
    .item {
      .image {
        img {
          height: 150px;
          object-fit: cover;
        }
      }
    }
  }
}
