.home {
  section.service {
    position: relative;
    padding: 0 0 93px;
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    @media (max-width: 1023px) {
      padding: 0 0 30px;
    }

    .left {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 51.3%;
      flex: 0 0 51.3%;
      @media (max-width: 1023px) {
        flex: 0 0 100%;
        margin-bottom: 30px;
      }

      .icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        .item {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          height: 108px;
          background: #FFFFFF;
          border: 1px solid #F5F5F5;
          -webkit-box-shadow: 0 2px 4px 0 rgba(170, 170, 170, .5);
          box-shadow: 0 2px 4px 0 rgba(170, 170, 170, .5);
          @media (max-width: 1023px) {
            flex: 0 0 100%;
          }

          .icon {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 32px;
            flex: 0 0 32px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin: 0 28px 0 32px;
          }

          .text {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(100% - 120px);
            flex: 0 0 calc(100% - 120px);
            font-family: "Gotham-Bold", sans-serif;
            font-size: 16px;
            line-height: 22px;
            color: #00ae9e;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
          }
        }
      }
    }

    .right {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 42.8%;
      flex: 0 0 42.8%;
      @media (max-width: 1023px) {
        flex: 0 0 100%;
      }

      p {
        font-family: "HelveticaNeue", serif;
        font-size: 15px;
        line-height: 22px;
        color: #909090;
      }

      h2 {
        @media (max-width: 1023px) {
          font-size: 20px;
          line-height: 1.3;
        }
      }
    }
  }
}
