.about-us-container {
  .list {
    display: block;
    width: 100%;

    .item {
      position: relative;
      padding-bottom: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      @media (max-width: 1023px) {
        padding-bottom: 0;
        margin-bottom: 30px!important;
      }

      &:not(:last-child) {
        margin-bottom: 74px;
      }

      .image {
        position: static;
        @media (max-width: 1023px) {
          width: 100%;
          right: 0;
        }

        &.img-right {
          margin-left: auto;

          h2 {
            left: unset;
            right: -5px;
          }
        }

        img {
          z-index: 0;
          max-width: 90vw;
          max-width: 815px;
        }

        h2 {
          font-family: "Gotham-Bold", serif;
          font-size: 120px;
          line-height: 1;
          color: #fff;
          position: absolute;
          bottom: 50px;
          left: -4px;
          margin-bottom: 0;
          display: none;

          &.top {
            z-index: 1;
            @media (max-width: 1023px) {
              display: none;
            }
          }

          &.bottom {
            z-index: -1;
            text-shadow: -10px 10px 0px #00ae9e;
            @media (max-width: 1023px) {
              //position: static;
              //width: 100%;
              //height: auto;
              bottom: unset;
              top: 10px;
              left: 20px;
              z-index: 1;
              text-shadow: -5px 5px 0px #00ae9e;
              font-size: 50px;
            }
          }
        }
      }

      .text {
        position: absolute;
        width: 426px;
        height: 416px;
        background: #00ae9e;
        right: 0;
        bottom: 0;
        text-align: center;
        padding: 13px 14px;
        @media (max-width: 1023px) {
          position: static;
          width: 100%;
          height: auto;
        }

        &.text-left {
          right: unset;
          left: -5px;
        }

        .inner {
          border: 1px solid white;
          position: absolute;
          width: 94%;
          height: 94%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          @media (max-width: 1023px) {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 20px 10px;
          }

          h3 {
            font-family: "Gotham-Bold", sans-serif;
            font-size: 30px;
            line-height: 40px;
            color: white;
            margin-bottom: 22px;
            padding-bottom: 24px;
            position: relative;

            &:after {
              content: '';
              width: 64px;
              height: 1px;
              position: absolute;
              background: #fff;
              left: 50%;
              bottom: 0;
              -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              transform: translateX(-50%);
            }
          }

          p {
            max-width: 337px;
            font-family: "HelveticaNeue-Light", serif;
            font-size: 15px;
            line-height: 22px;
            color: white;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
