.market-insight-list-page {
  .wrap {
    padding: 0 0 50px;

    > .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      margin-bottom: 72px;
      padding-bottom: 20px;
      border-bottom: 1px solid #00ae9a;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      .left {
        margin-bottom: 0;

        h1 {
          margin-bottom: 0.5rem;
          border: none;
        }
      }

      .right {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        top: 5px;

        a {
          &:not(:last-child) {
            margin-right: 27px;
          }

          font-family: "HelveticaNeue", serif;
          font-size: 14px;
          line-height: 1;
          color: #585858;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          &:hover {
            color: #00ae9a;
          }
        }
      }

      .tag-name {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        font-family: "HelveticaNeue", serif;
        font-size: 14px;
        line-height: 1;
        color: #585858;
      }
    }

    .contact-section {
      margin-top: -40px;
      margin-bottom: 20px;

      p {
        font-family: "Gotham-Bold", sans-serif;
        color: #00ae9e;
        font-size: 16px;
        margin-bottom: 0;
      }

      a {
        width: 144px;
        height: 45px;
        background: #00ae9e;
        line-height: 45px;
        color: #fff;
        text-align: center;
        font-family: "HelveticaNeueLTStd-Bd", serif;
        font-size: 12px;
        display: block;
        text-transform: uppercase;
        -webkit-transition: All 0.2s ease-in-out;
        -o-transition: All 0.2s ease-in-out;
        transition: All 0.2s ease-in-out;
        border: 1px solid transparent;

        &:hover {
          border: 1px solid #00ae9e;
          background: white;
          color: #00ae9e;
        }
      }
    }

    .list {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      .item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        margin-bottom: 33px;
        @media (max-width: 1023px) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
        }

        .image {
          width: 100%;

          img {
            width: 100% ;
            height: 260px;
            object-fit: cover;
          }

          .hover {
            position: absolute;
            width: 96%;
            height: 93%;
            border: 1px solid white;
            left: 2%;
            top: 4%;
          }
        }

        .title {
          background: white;
          padding: 17px 20px 17px 32px;
          border-bottom: none;
          margin-bottom: 0;

          a {
            font-family: "Gotham-Bold", sans-serif;
            color: #00ae9e;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 0;
          }
        }

        &:hover {

          a {
            text-decoration: underline;
          }

          .hover {
            border-color: #00ae9e;

            .clear-right {
              top: 0;
              opacity: 1;
            }
          }
        }
      }
    }

    .pager {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;

      ul {
        list-style: none;
        margin-bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0 0 0 26px;

        li {
          border-radius: 50%;
          background: none;
          -webkit-transition: All 0.2s ease-in-out;
          -o-transition: All 0.2s ease-in-out;
          transition: All 0.2s ease-in-out;
          text-align: center;

          &:not(:last-child) {
            margin-right: 10px;
          }

          span {
            width: 50px;
            height: 50px;
            font-size: 15px;
            line-height: 50px;
            font-family: "HelveticaNeue", serif;
            color: #18212b;
            display: block;
            -webkit-transition: All 0.2s ease-in-out;
            -o-transition: All 0.2s ease-in-out;
            transition: All 0.2s ease-in-out;
            text-decoration: none;
            cursor: pointer;
            font-weight: 600;
          }

          &.active, &:hover {
            background: #00ae9e;

            span {
              color: white;
            }
          }
        }
      }
    }
  }
}
