@font-face {
  font-family: 'Gotham-Bold';
  src: url("./assets/fonts/Gotham-Bold/Gotham-Bold.eot");
  src: url("./assets/fonts/Gotham-Bold/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/Gotham-Bold/Gotham-Bold.woff") format("woff"),
  url("./assets/fonts/Gotham-Bold/Gotham-Bold.ttf") format("truetype"),
  url("./assets/fonts/Gotham-Bold/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'MaisonNeue-Book';
  src: url("./assets/fonts/MaisonNeue-Book/MaisonNeue-Book.eot");
  src: url("./assets/fonts/MaisonNeue-Book/MaisonNeue-Book.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/MaisonNeue-Book/MaisonNeue-Book.woff") format("woff"),
  url("./assets/fonts/MaisonNeue-Book/MaisonNeue-Book.ttf") format("truetype"),
  url("./assets/fonts/MaisonNeue-Book/MaisonNeue-Book.svg#MaisonNeue-Book") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'MaisonNeue-Light';
  src: url("./assets/fonts/MaisonNeue-Light/MaisonNeue-Light.eot");
  src: url("./assets/fonts/MaisonNeue-Light/MaisonNeue-Light.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/MaisonNeue-Light/MaisonNeue-Light.woff") format("woff"),
  url("./assets/fonts/MaisonNeue-Light/MaisonNeue-Light.ttf") format("truetype"),
  url("./assets/fonts/MaisonNeue-Light/MaisonNeue-Light.svg#MaisonNeue-Light") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Bd';
  src: url("./assets/fonts/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.eot");
  src: url("./assets/fonts/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.woff") format("woff"),
  url("./assets/fonts/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.ttf") format("truetype"),
  url("./assets/fonts/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("./assets/fonts/HelveticaNeue/HelveticaNeue.eot");
  src: url("./assets/fonts/HelveticaNeue/HelveticaNeue.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/HelveticaNeue/HelveticaNeue.woff") format("woff"),
  url("./assets/fonts/HelveticaNeue/HelveticaNeue.ttf") format("truetype"),
  url("./assets/fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url("./assets/fonts/HelveticaNeue-Light/HelveticaNeue-Light.eot");
  src: url("./assets/fonts/HelveticaNeue-Light/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/HelveticaNeue-Light/HelveticaNeue-Light.woff") format("woff"),
  url("./assets/fonts/HelveticaNeue-Light/HelveticaNeue-Light.ttf") format("truetype"),
  url("./assets/fonts/HelveticaNeue-Light/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url("./assets/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.eot");
  src: url("./assets/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.woff") format("woff"),
  url("./assets/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.ttf") format("truetype"),
  url("./assets/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg");
  font-weight: normal;
  font-style: normal
}

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-transition: All 0.2s ease-in-out;
  -o-transition: All 0.2s ease-in-out;
  transition: All 0.2s ease-in-out;

  &:hover {
    color: #00ae9e;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 700!important;
}

h2.border-line {
  padding-bottom: 30px;
  border-bottom: 1px solid #00ae9a;
  margin-bottom: 30px;
}

b, strong {
  font-weight: bolder;
}

html {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  --antd-wave-shadow-color: #00ae9e!important;
}

body {
  overflow-x: hidden;
  font-weight: 400;
  text-align: left;
  background-color: #fff;
  font-family: "HelveticaNeue", serif;
  font-size: 15px;
  line-height: 22px;
  color: #909090;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  padding-top: 134px;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  @media (max-width: 1023px) {
    padding-top: 90px;
  }
}

ul {
  margin: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "HelveticaNeue", serif;
  font-size: 15px;
  line-height: 22px;
  color: #909090;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

a.router-active {
  color: #00ae9e !important;
}

input {
  border-radius: 5px !important;
  -webkit-appearance: none !important;
  -webkit-transition: All 0.2s ease-in-out;
  -o-transition: All 0.2s ease-in-out;
  transition: All 0.2s ease-in-out;
  background: transparent;

  &:focus {
    border: 1px solid #00ae9e !important;
  }

  &:hover {
    border: 1px solid #91d5cf !important;
  }
}

textarea:hover {
  border: 1px solid #91d5cf !important;
}

textarea:focus {
  border: 1px solid #00ae9e !important;
}

button, input {
  overflow: visible;
}

::placeholder {
  font-family: "HelveticaNeue-Light", serif;
  color: #949494;
  font-size: 14px;
}

[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner {

  padding: 0;
  border-style: none;

}

svg:not(:root) {
  overflow: hidden;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

select {
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px !important;
  -webkit-appearance: none !important;
  background: transparent url('./assets/icons/arrow-down-green.svg') no-repeat 92% center;
  -webkit-transition: All 0.2s ease-in-out;
  -o-transition: All 0.2s ease-in-out;
  transition: All 0.2s ease-in-out;
}
