.content-container {
  min-height: calc(100vh - 337px - 134px - 53px - 320px);
  overflow-x: hidden;

  &.padding {
    padding-top: 165px;
  }

  &.no-footer-bg + .bg-img {
    display: none;
  }

  .fixed-width-container {
    position: relative;
    padding: 0 0 50px;
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 50px;
    @media (max-width: 1023px) {
      margin-bottom: 20px;
    }

    h1 {
      font-family: "Gotham-Bold", sans-serif;
      font-size: 40px;
      line-height: 50px;
      color: #00ae9e;
      padding-bottom: 20px;
      border-bottom: 1px solid #00ae9a;
      @media (max-width: 1023px) {
        font-size: 25px;
        line-height: 1.3;
      }
    }
  }

  .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: All 0.2s ease-in-out;
    -o-transition: All 0.2s ease-in-out;
    transition: All 0.2s ease-in-out;

    span {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: 20px;
        top: 13px;
        width: 23px;
        height: 23px;
        line-height: 23px;
        text-align: center;
        display: block;
        border-radius: 50%;
        background: #fff url('../assets/icons/arrow-right.svg') no-repeat center center;
        -webkit-transition: All 0.2s ease-in-out;
        -o-transition: All 0.2s ease-in-out;
        transition: All 0.2s ease-in-out;
      }
    }
  }

  .arrow-right {
    width: 23px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    border-radius: 50%;
    background: #00ae9e url('../assets/icons/arrow-right-white.svg') no-repeat center center;
  }

  .clear-right {
    &:not(.btn) {
      display: block;
      width: 168px;
      height: 48px;
      line-height: 48px;
      font-family: "HelveticaNeue", serif;
      font-size: 16px;
      color: #fff;
      background: rgba(0, 174, 158, 0.9);
      padding: 0 20px;
      position: relative;
      -webkit-transition: All 0.2s ease-in-out;
      -o-transition: All 0.2s ease-in-out;
      transition: All 0.2s ease-in-out;
      top: 50px;
      opacity: 0;
    }

    &:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 13px;
      width: 23px;
      height: 23px;
      line-height: 23px;
      text-align: center;
      display: block;
      border-radius: 50%;
      background: #fff url('../assets/icons/arrow-right.svg') no-repeat center center;
      -webkit-transition: All 0.2s ease-in-out;
      -o-transition: All 0.2s ease-in-out;
      transition: All 0.2s ease-in-out;
    }
  }

  .slick-arrow {
    width: 56px;
    height: 56px;
    background: #00ae9e;
    padding: 0;
    border: none;
    outline: none;
    text-indent: -9999px;
    cursor: pointer;
    -webkit-transition: All 0.2s ease-in-out;
    -o-transition: All 0.2s ease-in-out;
    transition: All 0.2s ease-in-out;
  }
}

h2 {
  font-family: "Gotham-Bold", serif;
  font-size: 25px;
  line-height: 30px;
  color: #00ae9a;
  @media (max-width: 1023px) {
    font-size: 20px;
    line-height: 1.3;
  }
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.media {
  > .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 26px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 24.5%;
      flex: 0 0 24.5%;
      @media (max-width: 1023px) {
        flex: 0 0 100%;
        margin-bottom: 30px;
      }

      > .title {
        background: white;
        padding: 17px 20px 17px 32px;
        margin-bottom: 0;
      }
    }
  }
}

.image {
  position: relative;

  img {
    width: 100%;
    display: block;
  }
}

.options {
  max-width: 800px;

  .ant-checkbox-wrapper {
    min-width: 192px;
    margin-bottom: 16px;
    font-family: "HelveticaNeue-Light", serif;
    font-size: 14px;
    line-height: 1.3;
    color: #909090;
    font-weight: 600;

    &:hover {
      .ant-checkbox-inner {
        border-color: #91d5cf;
      }
    }

    .ant-checkbox-inner {
      width: 25px;
      height: 25px;

      &::after {
        top: 40%;
        left: 22%;
        width: calc(5.71428571px * 1.7);
        height: calc(9.14285714px * 1.7);
      }
    }

    .ant-checkbox-checked {
      &::after {
        border-color: #00ae9a;
      }
      .ant-checkbox-inner {
        background-color: #00ae9a;
        border-color: #00ae9a;
      }
    }
  }
}

