footer {
  .top {
    background-size: 425px 290px;
    padding: 45px 0 30px;
    @media (max-width: 1023px) {
      background: #00AE9E!important;
    }

    .container {
      position: relative;
      width: 90%;
      max-width: 1170px;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      .col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 203px;
        flex: 0 0 203px;
        margin-bottom: 30px;
        list-style: none;
        padding-left: 0;
        @media (max-width: 1023px) {
          flex: 0 0 50%;
          margin-bottom: 15px;
        }

        li {
          margin-bottom: 8px;

          a {
            -webkit-transition: All 0.2s ease-in-out;
            -o-transition: All 0.2s ease-in-out;
            transition: All 0.2s ease-in-out;
            font-family: "HelveticaNeueLTStd-Bd", serif;
            font-size: 12px;
            line-height: 1.2;
            color: white;

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }

      .social {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;

        a {
          margin-right: 13px;

          &:hover {
            svg {
              opacity: 0.7;
            }
          }

          svg {
            font-size: 19px;
            color: white;
            -webkit-transition: All 0.2s ease-in-out;
            -o-transition: All 0.2s ease-in-out;
            transition: All 0.2s ease-in-out;
          }
        }
      }
    }
  }

  .bottom {
    position: relative;
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15.5px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    @media (max-width: 1023px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      @media (max-width: 1023px) {
        margin-left: 0;
        display: block;
        text-align: center;
        margin-bottom: 5px;
      }

      p {
        font-family: "HelveticaNeueLTStd-Bd", serif;
        font-size: 11px;
        color: #727272;
        line-height: 13px;
        margin-bottom: 0;
      }
    }

    .center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 95px;
      @media (max-width: 1023px) {
        display: block;
        text-align: center;
        margin-bottom: 5px;
        margin-left: 0;
      }

      ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        li {

          &:first-child::after {
            content: '|';
            margin: 0 10px;
          }

          a {
            font-family: "HelveticaNeueLTStd-Bd", serif;
            font-size: 11px;
            color: #727272;
            line-height: 13px;
            -webkit-transition: All 0.2s ease-in-out;
            -o-transition: All 0.2s ease-in-out;
            transition: All 0.2s ease-in-out;

            &:hover {
              color: #00ae9e;
            }
          }
        }
      }
    }

    .right {
      margin-left: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      @media (max-width: 1023px) {
        margin-left: 0;
      }

      p {
        font-family: "HelveticaNeueLTStd-Bd", serif;
        font-size: 11px;
        line-height: 13px;
        color: #727272;
        margin-bottom: 0;

        a {
          color: #00ae9e;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
