header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: white;

  .container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 13px 0;
    @media (max-width: 1023px) {
      padding: 20px 0 17px;
    }

    .top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 18px;
      @media (max-width: 1023px) {
        display: none;
      }

      > div {
        width: 100%;
        //padding-left: 42.7%;
        padding-left: 42.7%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;

        .menu {
          display: flex;
          flex-direction: row;
          align-items: center;
          list-style: none;
          padding: 0;

          li {
            margin-right: 50px;
          }

          a {
            cursor: pointer;
            font-family: "HelveticaNeueLTStd-Bd",serif;
            font-size: 12px;
            line-height: 15px;
            color: #585858;
            -webkit-transition: All 0.2s ease-in-out;
            -o-transition: All 0.2s ease-in-out;
            transition: All 0.2s ease-in-out;
            text-decoration: none;

            &:hover {
              color: #00ae9e;
            }
          }
        }

        .buttons {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          .switch-lang-wrap {
            width: 122px;
            height: 27px;
            margin-right: 20px;
            font-family: microsoft-yahei, serif;
            line-height: 25px;
            position: relative;
            visibility: hidden;
            display: none;

            .switch-lang {
              position: relative;
              text-align: center;
              font-size: 12px;
              color: #585858;
              font-weight: 700;
              border: 1px solid #b1b1b1;
              border-radius: 14px;
              cursor: pointer;
              -webkit-transition: All 0.2s ease-in-out;
              -o-transition: All 0.2s ease-in-out;
              transition: All 0.2s ease-in-out;
              font-family: "PingFang Sc", "Microsoft YaHei", 微软雅黑, serif;
            }
          }

          .login {
            width: 144px;
            height: 45px;
            background: #00ae9e;
            line-height: 45px;
            color: #fff;
            text-align: center;
            font-family: "HelveticaNeueLTStd-Bd", serif;
            font-size: 12px;
            display: block;
            text-transform: uppercase;
            -webkit-transition: All 0.2s ease-in-out;
            -o-transition: All 0.2s ease-in-out;
            transition: All 0.2s ease-in-out;
            border: 1px solid transparent;
            text-decoration: none;
          }
        }
      }
    }

    .bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      @media (max-width: 1023px) {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }

      .logo {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 42.7%;
        flex: 0 0 42.7%;

        img {
          position: relative;
          top: -13px;
          @media (max-width: 1023px) {
            top: 0;
          }
        }
      }

      .menu {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        @media (max-width: 1023px) {
          display: none;
        }

        li {
          margin-right: 50px;

          a {
            font-family: "Gotham-Bold", serif;
            font-size: 16px;
            line-height: 1;
            color: #585858;

            &:hover {
              color: #00ae9e;
            }
          }
        }
      }

      .nav-hamburger {
        display: none;
        outline: none !important;
        @media (max-width: 1023px) {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }

        * {
          outline: none !important;
        }


        .hamburger {
          padding: 0 0;
          display: inline-block;
          cursor: pointer;
          -webkit-transition-property: opacity, -webkit-filter;
          -o-transition-property: opacity, filter;
          transition-property: opacity, filter, -webkit-filter;
          -webkit-transition-duration: 0.15s;
          -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          -o-transition-timing-function: linear;
          transition-timing-function: linear;
          font: inherit;
          color: inherit;
          text-transform: none;
          background-color: transparent;
          border: 0;
          margin: 0;
          overflow: visible;

          &.is-active {
            .hamburger-inner {
              transform: translate3d(0, 9px, 0) rotate(45deg);

              &::before {
                transform: rotate(-45deg) translate3d(-4px, -6px, 0);
                opacity: 0;
              }

              &::after {
                transform: translate3d(0, -18px, 0) rotate(-90deg);
              }
            }
          }

          &:hover {
            opacity: 0.7;
          }

          .hamburger-box {
            width: 28px;
            height: 21px;
            display: inline-block;
            position: relative;

            .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
              top: 1.5px;
              width: 28px;
              height: 3px;
              background-color: #00ae9e;
              border-radius: 4px;
              position: absolute;
              -webkit-transition-property: -webkit-transform;
              transition-property: -webkit-transform;
              -o-transition-property: transform;
              transition-property: transform;
              -webkit-transition-duration: 0.15s;
              -o-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: ease;
              -o-transition-timing-function: ease;
              transition-timing-function: ease;
              display: block;
              margin-top: -1.5px;
            }

            .hamburger-inner {
              &::before {
                content: "";
                display: block;
                top: 9px;
              }

              &::after {
                content: "";
                display: block;
                top: 18px;
              }
            }
          }
        }
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 98;
  top: -100%;
  -webkit-transition: opacity 0.8s cubic-bezier(0.77, 0, 0.175, 1), top 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: opacity 0.8s cubic-bezier(0.77, 0, 0.175, 1), top 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  transition: opacity 0.8s cubic-bezier(0.77, 0, 0.175, 1), top 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5%;
  padding-top: 130px;

  &.is-active {
    top: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      margin-bottom: 15px;

      &.active {
        a {
          color: #00AE9E;
        }
      }

      a {
        font-family: "Gotham-Bold", sans-serif;
        font-size: 16px;
        line-height: 1;
        color: #585858;
      }
    }
  }

  .login {
    margin-top: 30px;
    .btn {
      width: 144px;
      height: 45px;
      background: #00ae9e;
      line-height: 45px;
      color: #fff;
      text-align: center;
      font-family: "HelveticaNeueLTStd-Bd", sans-serif;
      font-size: 12px;
      display: block;
      text-transform: uppercase;
      -webkit-transition: All 0.2s ease-in-out;
      -o-transition: All 0.2s ease-in-out;
      transition: All 0.2s ease-in-out;
      border: 1px solid transparent;
      margin-bottom: 10px;

      &.agent {
        background: #025AAE;
      }
    }
  }
}
