.ant-modal-content {
  background-color: transparent!important;
}

.ant-modal-confirm .ant-modal-body {
  padding: 0!important;

  .ant-modal-confirm-btns {
    display: none;
  }

  .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
    margin: 0;
  }

  .anticon {
    display: none;
  }
}

.close {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -65px;
  right: 0;
  background-size: 100%;
  cursor: pointer;
  background: url('../assets/icons/close.svg') no-repeat;
  background-size: contain;
  -webkit-transition: All 0.2s ease-in-out;
  -o-transition: All 0.2s ease-in-out;
  transition: All 0.2s ease-in-out;
  @media (max-width: 1023px) {
    width: 30px;
    height: 30px;
    top: -45px;
  }

  &:hover {
    opacity: 0.7;
  }
}

input[type=submit] {
  width: 100%;
  height: 48px;
  font-family: "HelveticaNeue-Medium", serif;
  font-size: 15px;
  color: white;
  line-height: 43px;
  background: #00AE9E;
  border-radius: 3px !important;
  outline: none;
  border: 1px solid #00ae9e !important;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: All 0.2s ease-in-out;
  -o-transition: All 0.2s ease-in-out;
  transition: All 0.2s ease-in-out;

  &:hover {
    background: white;
    color: #00ae9e;
  }

  &.loading {
    pointer-events: none;
    opacity: 0.7;
  }
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  margin: 0 auto;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  @media (max-width: 1023px) {
    width: 90%;
  }

  .left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 56.3%;
    flex: 0 0 56.3%;
    background: #00ae9e;
    padding: 60px 150px 60px 60px;
    border-radius: 5px 0 0 5px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(222, 222, 222, .5);
    box-shadow: 0 2px 4px 0 rgba(222, 222, 222, .5);
    @media (max-width: 1023px) {
      padding: 20px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 500px;
      margin: 0 auto;
      border-radius: 5px 5px 0 0;
    }


    h4 {
      font-family: "HelveticaNeue-Medium", serif;
      font-size: 15px;
      line-height: 18px;
      color: white;
      margin-bottom: 20px;
      @media (max-width: 1023px) {
        margin-bottom: 10px;
      }
    }

    h2 {
      font-family: "Gotham-Bold", serif;
      font-size: 40px;
      line-height: 50px;
      color: white;
      margin-bottom: 121px;
      @media (max-width: 1023px) {
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 1.3;
      }
    }
  }

  .right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 43.7%;
    flex: 0 0 43.7%;
    background: white;
    padding: 60px 60px 60px 66px;
    border: 1px solid #EEEEEE;
    -webkit-box-shadow: 0 2px 4px 0 rgba(222, 222, 222, .5);
    box-shadow: 0 2px 4px 0 rgba(222, 222, 222, .5);
    border-radius: 0 5px 5px 0;
    @media (max-width: 1023px) {
      padding: 20px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 500px;
      margin: 0 auto;
      border-radius: 0 0 5px 5px;
    }

    .ant-form-item {
      margin-bottom: 24px;
    }

    input {
      border: 1px solid #CFCFCF;
      border-radius: 5px;
      width: 100%;
      height: 43px;
      padding: 0 16px;
      outline: none;
      min-width: 0;
      //margin-bottom: 24px;
    }

    .actions {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      p {
        margin-bottom: 0;
      }

      a {
        font-family: "HelveticaNeue-Light", serif;
        font-size: 15px;
        line-height: 20px;
        color: #00ae9e;
        -webkit-transition: All 0.2s ease-in-out;
        -o-transition: All 0.2s ease-in-out;
        transition: All 0.2s ease-in-out;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .facebook-login-btn {
      width: 100%;
      height: 48px;
      line-height: 48px;
      background: #475993 url(../assets/icons/facebook.svg) no-repeat 21% center;
      text-align: center;
      font-family: "Gotham-Bold", serif;
      color: #fff;
      font-size: 14px;
      -webkit-transition: All 0.2s ease-in-out;
      -o-transition: All 0.2s ease-in-out;
      transition: All 0.2s ease-in-out;
      display: block;
      margin-top: 65px;
      border-radius: 3px !important;
      @media (max-width: 1023px) {
        font-size: 12px;
        background: #475993 url('../assets/icons/facebook.svg') no-repeat 10% center;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.forgot {
  .left {
    padding-right: 10px;
  }

  #forgot-form {
    padding: 50px 0 200px 0;
    @media (max-width: 1023px) {
      padding: 0;
    }
  }
}

.contact-agent-modal {
  display: flex;
  text-align: center;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  margin: 0 auto;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  @media (max-width: 1023px) {
    width: 90vw;
    height: 85vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-top: 50px;
    position: relative;
  }

  > div:not(.close) {
    background: white;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    overflow: visible;
  }

  .close {
    top: 0;
  }

  h2 {
    margin: 20px auto;
  }

  h4 {
    font-weight: 400;
    margin: 16px auto;
  }

  hr {
    border: 0;
    height: 2px;
    background: #EEEEEE;
  }

  .contact-agent-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .ant-form-item-explain {
      text-align: left;
    }

    .modal-section-title {
      margin-top: 0;
      text-align: left;
      margin-bottom: 16px;
      color: black;
      font-weight: 500;
      text-decoration: underline;
    }

    .top-section {
      width: 86%;

      .ant-form-item {
        margin-bottom: 16px;
      }

      textarea {
        width: 100%;
        padding: 8px 16px;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #CFCFCF;
        border-radius: 5px;
        resize: none;
        outline: none;
        line-height: 22px;
        font-family: "HelveticaNeue-Light", serif;

        &:hover {
          border: 1px solid #91d5cf !important;
        }
      }
    }

    .bottom-section {
      width: 86%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .ant-form-item {
        margin-bottom: 24px;
      }

      .left-wrap {
        width: 50%;
        @media (max-width: 1023px) {
          width: 100%;
        }

        .options {
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          .ant-checkbox-wrapper {
            margin-left: 0;
            margin-bottom: 16px;
          }
        }
      }

      .right-wrap {
        width: 50%;
        @media (max-width: 1023px) {
          width: 100%;
        }

        input {
          border: 1px solid #CFCFCF;
          border-radius: 5px;
          width: 100%;
          height: 43px;
          padding: 0 16px;
          outline: none;
          min-width: 0;
          margin-bottom: 0;
          font-size: 15px;
          box-sizing: border-box;
          -webkit-appearance: none !important;
          -webkit-transition: All 0.2s ease-in-out;
          -o-transition: All 0.2s ease-in-out;
          transition: All 0.2s ease-in-out;
          background: transparent;
        }
      }
    }

    .submit {
      width: 100%;

      input {
        width: 86%;
      }
    }
  }
}

.agent-application-modal-container > div {
  background: #ffffff;
  width: 1170px;
  margin: 0 auto;

  input {
    width: 20%;
  }

  .anticon {
    display: block!important;
  }
}

.agent-application-modal-container > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  margin: 0 auto;
  position: relative;
  background: #FDFDFD;
  border: 1px solid #EEEEEE;
  -webkit-box-shadow: 0 2px 4px 0 rgba(222, 222, 222, 0.5);
  box-shadow: 0 2px 4px 0 rgba(222, 222, 222, 0.5);
  border-radius: 5px;
  padding: 55px 60px 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .ant-form-item {
    margin-bottom: 24px;
  }

  input, select {
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    width: 100%;
    height: 43px;
    padding: 0 16px;
    outline: none;
    min-width: 0;
    margin-bottom: 0;

    &:hover {
      border: 1px solid #52aafe !important;
    }

    &:focus {
      border: 1px solid #025AAE !important;
    }
  }

  select {
    background: transparent url('../assets/icons/arrow-down-blue.svg') no-repeat 92% center;
  }

  .left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    position: relative;

    h4 {
      font-family: "HelveticaNeue-Medium", serif;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 22px;
      color: #025AAE;
      margin-bottom: 20px;
    }
  }

  .middle {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 36.1%;
    flex: 0 0 36.1%;
  }

  .right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 36.1%;
    flex: 0 0 36.1%;
    position: relative;

    .disable-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 78.5%;
      background: rgba(#ffffff, 0.8 );
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 999;

      &.active {
        display: flex;
      }
    }

    .ant-form-item:last-child {
      margin-bottom: 0;
    }

    input[type=submit] {
      background: #025AAE;

      &:hover {
        background: #ffffff;
        border-color: #025AAE;
        color: #025AAE;
      }
    }
  }
}

.team-member-details-container {
  display: flex;
  text-align: center;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70vw;
  height: 50vh;
  margin: 0 auto;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  justify-content: space-between;
  padding: 2%;
  @media (max-width: 1023px) {
    width: 85vw;
    height: 85vh;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .img {
    height: 100%;
    width: 40%;
    position: relative;
    @media (max-width: 1023px) {
      width: 100%;
      height: 200px;
      flex: 0 0 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: opacity 0.3s ease;
      z-index: 1;
      @media (max-width: 1023px) {
        object-position: top;
      }

      &:nth-child(2) {
        opacity: 0;
        z-index: 2;
      }
    }
  }

  .content-wrap {
    width: 55%;
    text-align: left;
    padding-top: 80px;
    height: 100%;
    overflow-y: scroll;
    @media (max-width: 1023px) {
      width: 100%;
      padding: 20px 8%;
      flex: 0 0 100%;
      height: calc(85vh - 200px);
    }

    > * {
      max-width: 100%;
    }
  }

  p {
    color: #909090;
  }

  h3 {
    font-family: "HelveticaNeue-Medium", serif;
    font-size: 20px;
    line-height: 30px;
    color: #00ae9e;
    //padding-bottom: 20px;
    //margin-bottom: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid;
    @media (max-width: 1023px) {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .title {
    font-family: "HelveticaNeue-Medium", serif;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;
    color: #909090;
    @media (max-width: 1023px) {
      font-size: 14px;
      line-height: 1.3;
    }
  }

  a {
    display: block;
    font-family: "HelveticaNeue-Medium", serif;
    color: #909090;
    @media (max-width: 1023px) {
      font-size: 14px;
      line-height: 1.3;
    }

    &:last-of-type {
      margin-bottom: 22px;
    }
  }

  .desc {
    margin-bottom: 22px;
    @media (max-width: 1023px) {
      font-size: 14px;
      line-height: 1.3;
    }
  }

  strong {
    font-family: "HelveticaNeue-Medium", serif;
    font-size: 16px;
    line-height: 22px;
    color: #909090;
    @media (max-width: 1023px) {
      font-size: 14px;
      line-height: 1.3;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;


    li {
      color: #909090;
      @media (max-width: 1023px) {
        font-size: 14px;
        line-height: 1.3;
      }
    }
  }
}
