.sidebar {
  position: fixed;
  right: 0;
  top: 233px;
  z-index: 9;

  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      margin-bottom: 1px;
      position: relative;

      p {
        color: white;
      }

       a {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-pack: center;
         -ms-flex-pack: center;
         justify-content: center;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         background: #00ae9e;
         width: 50px;
         height: 50px;

         &:hover {
           background: #008579;

           & + .tooltip, & + .hover {
             opacity: 1;
             visibility: visible;
           }
         }
       }

      .tooltip {
        visibility: hidden;
        position: absolute;
        -webkit-transition: All 0.2s ease-in-out;
        -o-transition: All 0.2s ease-in-out;
        transition: All 0.2s ease-in-out;
        right: 65px;
        top: 0;
        opacity: 0;
        text-align: left;
        width: 200px;
        display: block;
        line-height: 32px;
        font-family: "HelveticaNeue-Medium", serif;
        font-size: 13px;
        color: #fff;
        background: #5E5D5D;
        border-radius: 5px;
        padding: 30px;

        &:after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8px 0 8px 8px;
          border-color: transparent transparent transparent #5E5D5D;
          position: absolute;
          right: -8px;
          top: 18px;
        }

        p:last-child {
          margin-bottom: 0;
        }
      }

      .hover {
        visibility: hidden;
        position: absolute;
        -webkit-transition: All 0.2s ease-in-out;
        -o-transition: All 0.2s ease-in-out;
        transition: All 0.2s ease-in-out;
        right: 59px;
        top: -23px;
        opacity: 0;
        border: 1px solid #00ae9e;
        padding: 1px;

        img {
          width: 200px;
          @media (max-width: 767px) {
            width: 50vw;
          }
        }
      }

      &:first-child .tooltip, &:last-child .tooltip {
        padding: 10px 0 10px 30px
      }
    }
  }
}
