.news-section {
  background: rgba(232, 232, 232, 0.4);
  padding-top: 80px;
  @media (max-width: 1023px) {
    padding-top: 40px;
  }

  .media {
    @media (max-width: 1023px) {
      padding-bottom: 0;
    }
    > .title {
      padding-bottom: 18px;
      border-bottom: 1px solid #00ae9e;
    }

    .item {
      .image {
        position: relative;

        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
        }
      }

      .hover {
        width: 96%;
        height: 93%;
        border: 1px solid white;
        left: 2%;
        top: 4%;
      }

      .title {
        background: white;
        padding: 17px 20px 17px 32px;

        a {
          font-family: "Gotham-Bold", sans-serif;
          color: #00ae9e;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 0;
        }
      }

      &:hover {

        a {
          text-decoration: underline;
        }

        .hover {
          border-color: #00ae9e;

          .clear-right {
            top: 0;
            opacity: 1;
          }
        }
      }
    }
  }
}
